{% extends "base.html" %}

{% block title %}学習記録追加{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8 col-lg-6">
            <h1 class="h2 text-center">学習記録追加</h1>
            <form action="/home/learningreport_add" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label">学習日</label>
                    <div class="col-lg-3">
                        <input type="date" aria-label="learn date" class="form-control" placeholder="learn date" name="learn_date">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">学年</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <select class="form-select" id="inputGroupSelect01" name="grade">
                                <option value="小学1年生">小学1年生</option>
                                <option value="小学2年生">小学2年生</option>
                                <option value="小学3年生">小学3年生</option>
                                <option value="小学4年生">小学4年生</option>
                                <option value="小学5年生">小学5年生</option>
                                <option value="小学6年生">小学6年生</option>
                                <option value="中学1年生">中学1年生</option>
                                <option value="中学2年生">中学2年生</option>
                                <option value="中学3年生">中学3年生</option>
                                <option value="高校1年生">高校1年生</option>
                                <option value="高校2年生">高校2年生</option>
                                <option value="高校3年生">高校3年生</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">氏名</label>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input type="text" aria-label="First name" class="form-control" placeholder="姓" name="first_name">
                            <input type="text" aria-label="Last name" class="form-control" placeholder="名" name="last_name">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-text">コース</span>
                            <select class="form-select" id="inputGroupSelect01" name="course">
                                <option value="Aコース 10:00~11:30">Aコース 10:00~11:30</option>
                                <option value="Bコース 11:45~13:15">Bコース 11:45~13:15</option>
                                <option value="Cコース 13:30~15:00">Cコース 13:30~15:00</option>
                                <option value="Dコース 15:15~16:45">Dコース 15:15~16:45</option>
                                <option value="Eコース 17:00~18:30">Eコース 17:00~18:30</option>
                                <option value="Fコース 18:45~20:15">Fコース 18:45~20:15</option>
                                <option value="夏期講習">夏期講習</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">科目</label>
                    <div class="col-md-3">
                        <select class="form-select" id="inputGroupSelect01" name="subject">
                            <option value="国語">国語</option>
                            <option value="算数">算数</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                            <option value="英語">英語</option>
                            <option value="数Ⅰ・A">数Ⅰ・A</option>
                            <option value="数Ⅱ・B">数Ⅱ・B</option>
                            <option value="数Ⅰ">数Ⅰ</option>
                            <option value="数Ⅱ">数Ⅱ</option>
                            <option value="数Ⅲ">数Ⅲ</option>
                            <option value="数A">数A</option>
                            <option value="数B">数B</option>
                            <option value="化学基礎">化学基礎</option>
                            <option value="化学">化学</option>
                            <option value="生物基礎">生物基礎</option>
                            <option value="生物">生物</option>
                            <option value="物理基礎">物理基礎</option>
                            <option value="物理">物理</option>
                            <option value="地学基礎">地学基礎</option>
                            <option value="地学">地学</option>
                            <option value="世界史">世界史</option>
                            <option value="日本史">日本史</option>
                            <option value="地理">地理</option>
                            <option value="現代社会">現代社会</option>
                            <option value="倫理">倫理</option>
                            <option value="政治・経済">政治・経済</option>
                            <option value="情報">情報</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">使用した学習教材</label>
                    <div class="col-lg-6">
                        <select class="form-select" id="inputGroupSelect01" name="used_text">
                            <option value="小学生教材">小学生教材</option>
                            <option value="iワーク 中1">iワーク 中1</option>
                            <option value="iワーク 中2">iワーク 中2</option>
                            <option value="iワーク 中3">iワーク 中3</option>
                            <option value="iワーク 高1">iワーク 高1</option>
                            <option value="iワーク 高2">iワーク 高2</option>
                            <option value="iワーク 高3">iワーク 高3</option>
                            <option value="PERSONAL 中1">PERSONAL 中1</option>
                            <option value="PERSONAL 中2">PERSONAL 中2</option>
                            <option value="PERSONAL 中3">PERSONAL 中3</option>
                            <option value="PERSONAL 高1">PERSONAL 高1</option>
                            <option value="PERSONAL 高2">PERSONAL 高2</option>
                            <option value="PERSONAL 高3">PERSONAL 高3</option>
                        </select>
                    </div>
                </div>
                <div class="col pt-3">
                    <div class="input-group">
                        <span class="input-group-text">備考欄</span>
                        <textarea class="form-control" aria-label="With textarea" name="learningreport_comments"></textarea>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end pt-3">
                    <button class="btn btn-primary" type="submit">登録する</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}