{% extends "base.html" %}

{% block title %}生徒別テスト結果一覧{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8 col-lg-6">
            <h1 class="h2">{{ student.first_name }} {{ student.last_name }} テスト結果一覧</h1>
            <div class="d-flex justify-content-end mb-3 pb-3">
                <a class="btn btn-primary" href="/home/testresult_add">新規追加</a>
            </div>
            <!--<div class="input-group mb-3 pb-3">
                <input type="text" class="form-control" placeholder="検索キーワード" aria-label="検索キーワード" aria-describedby="basic-addon1">
                <button class="btn btn-secondary" type="button">検索</button>
            </div>-->
            {% if testresults %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>テスト名</th>
                            <th>科目</th>
                            <th>得点</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in testresults %}
                            <tr>
                                <td><a class="link-secondary text-decoration-none" href="{{ url_for('main.detail_testresult', testresult_id=result.id) }}">{{ result.id }}</a></td>
                                <td><a class="link-secondary text-decoration-none" href="{{ url_for('main.detail_testresult', testresult_id=result.id) }}">{{ result.test_name }}</a></td>
                                <td><a class="link-secondary text-decoration-none" href="{{ url_for('main.detail_testresult', testresult_id=result.id) }}">{{ result.subject_one }}</a></td>
                                <td><a class="link-secondary text-decoration-none" href="{{ url_for('main.detail_testresult', testresult_id=result.id) }}">{{ result.score_one }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if pagination %}
                    <nav>
                        <ul class="pagination">
                            {% if pagination.has_prev %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('main.student_all_testresult', page=pagination.prev_num, student_id=student.id) }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for page in pagination.page_range %}
                                <li class="page-item {% if page == pagination.page %}active{% endif %}">
                                    <a class="page-link" href="{{ url_for('main.student_all_testresult', page=page, student_id=student.id) }}">{{ page }}</a>
                                </li>
                            {% endfor %}
                            {% if pagination.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('main.student_all_testresult', page=pagination.next_num, student_id=student.id) }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            {% else %}
                <p>No test results found.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}