{% extends "base.html" %}

{% block title %}生徒情報詳細{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8 col-lg-6">
            <h1 class="h2 text-center">生徒情報詳細</h1>
            <label class="form-label">氏名</label>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" value="{{ student.first_name }}" readonly>
                </div>
                <div class="col">
                    <input type="text" class="form-control" value="{{ student.last_name }}" readonly>
                </div>
            </div>
            <label class="form-label pt-3">ふりがな</label>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" value="{{ student.hurigana_first_name }}" readonly>
                </div>
                <div class="col">
                    <input type="text" class="form-control" value="{{ student.hurigana_last_name }}" readonly>
                </div>
            </div>
            <div class="pt-3">
                <label class="form-label">学校</label>
                <input type="text" class="form-control" value="{{ student.school }}" readonly>
            </div>
            <div class="pt-3">
                <label class="form-label">学年</label>
                <input type="text" class="form-control" value="{{ student.grade }}" readonly>
            </div>
            <div class="pt-3">
                <label class="form-label">備考欄</label>
                <textarea class="form-control" readonly>{{ student.student_comments }}</textarea>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3 pt-3">
                <a href="{{ url_for('main.all_student') }}" class="btn btn-secondary">生徒一覧へ</a>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                <a href="{{ url_for('main.edit_student', student_id=student.id) }}" class="btn btn-primary">編集画面へ</a>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                <a href="{{ url_for('main.student_all_testresult', student_id=student.id) }}" class="btn btn-primary">テスト結果(個別)一覧へ</a>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                <a href="{{ url_for('main.student_all_learningreport', student_id=student.id) }}" class="btn btn-primary">学習記録(個別)一覧へ</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}