{% extends "base.html" %}

{% block title %}学習教材情報編集{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8 col-lg-6">
            <h2>学習教材名編集</h2>
            <form action="{{ url_for('main.edit_text', text_id=text.id) }}" method="POST">
                <div class="mb-3">
                    <label for="text_name" class="form-label">学習教材名</label>
                    <input type="text" class="form-control" id="text_name" name="text_name" value="{{ text.text_name }}" required>
                </div>
                <div class="d-flex justify-content-end mb-3">
                    <button type="submit" class="btn btn-primary">更新する</button>
                </div>
            </form>
            <div class="d-flex justify-content-end mb-3">
                <a href="{{ url_for('main.all_textdata') }}" class="btn btn-secondary">キャンセルする</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}